nav {
	text-align:right;
}
nav li:first-child{
	border-left: none;
}
nav ul{
    padding-left: 0px;
}
nav ul li{
	display:inline ;
	padding-left: 10px;
	border-left: 1px solid #ccc;
	margin-left: 10px;
}
div.fieldContainer{
    width: 960px;
}
div.fieldList{
    float: left;
    width: 400px;
    border: 1px solid black;
}
div.fieldDetail{
    float: left;
    border: 1px solid black;
}
footer{
    clear: both;
}
/*
#feedback { font-size: 1.4em; }
#fieldsSelectable .ui-selecting { background: #FECA40; }
#fieldsSelectable .ui-selected { background: #F39814; color: white; }
#fieldsSelectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#fieldsSelectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }*/
#fieldsSelectable .ui-selecting {
    background: #ccc;
}
#fieldsSelectable .ui-selected {
    background: #999;
}